@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
Link {
  color: var(--foreground);
  text-decoration: none;
  cursor: pointer;
}

Link:hover {
  text-decoration: underline;
}
button {
  cursor: pointer;
  background-color: blue;
  color: var(--background);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
a {
  color: var(--foreground);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
